.post {
    padding: 2%;
    border: 1px solid grey;
    border-radius: 15px;
}

.postImage {
    width: 100vh;
    height: 20vh;
    border-radius: 10px;
    background-color: grey;
}

.healthyScore {
    border-radius: 50%;
    width: 20vh;
    height: 20vh;
    background-color: green;
}
