<div class="container" id="educationSection_container" xmlns:th="http://www.thymeleaf.org" style="background-color: rgb(247, 247, 247);">
    <div class="container d-flex justify-content-center mt-3">
        <h2 class="pt-3"><b>Education section</b></h2>
    </div>

    <div class="container mt-3" style="border: 2px solid lightgrey; border-radius: 5px; ">
        <h4>Weight Loss</h4>
        <div style="border: 2px solid lightgrey;" class="mb-3 pl-2 pt-2">
            <p style="font-size: 15px;">It’s natural for anyone trying to lose weight to want to lose it very quickly.
            But people who lose weight gradually and steadily (about 1 to 2 pounds per week) are more successful at keeping weight off.
                Healthy weight loss isn’t just about a “diet” or “program”.</p>
            <p style="font-size: 15px;">
            It’s about an ongoing lifestyle that includes long-term changes in daily eating and exercise habits.
            Losing the extra weight can help eliminate those health problems or lower your odds for them. Weight loss can reduce your blood pressure and cholesterol.
            It can also slash risk for <span style="font-weight: bold;">diabetes, heart disease, stroke, gallbladder disease</span>, and <span style="font-weight: bold;">osteoarthritis</span>.</p>
            <div class="d-flex justify-content-end mb-3 mr-3">
                <a href="/education/weightLoss" class="btn btn-info btn-sm pl-4 pr-4">Read more...</a>
            </div>
        </div>
    </div>

    <div class="container mt-3" style="border: 2px solid lightgrey; border-radius: 5px; ">
        <h4>Gaining muscle</h4>
        <div style="border: 2px solid lightgrey;" class="mb-3 pl-2 pt-2">
            <p style="font-size: 15px;"> Staying active is vital for overall health, and it is also the best way to build skeletal muscle. Skeletal muscle is one of the three major muscle types. Tendons attach these muscles, which contract and cause movement, to bones.
                People are best able to improve their muscle mass by performing the right exercises and eating particular foods.</p>
            <p style="font-size: 15px;">Muscle size increases when a person continually challenges the muscles to deal with higher levels of resistance or weight. This process is known as muscle hypertrophy.
                Muscle hypertrophy occurs when the fibers of the muscles sustain damage or injury.</p>
            </p>
            <div class="d-flex justify-content-end mb-3 mr-3 buttons">
                <a href="/education/gainingMuscle" class="btn btn-info btn-sm pl-4 pr-4">Read more...</a>
            </div>
        </div>
    </div>

    <div class="container mt-3" style="border: 2px solid lightgrey; border-radius: 5px; ">
        <h4>Why go vegan?</h4>
        <div style="border: 2px solid lightgrey;" class="mb-3 pl-2 pt-2">
            <p style="font-size: 15px;">Going vegan is a great opportunity to learn more about nutrition and cooking, and improve your diet. Getting your nutrients from plant foods allows more room in your diet for health-promoting options like whole grains, fruit, nuts, seeds and vegetables, which are packed full of beneficial fibre, vitamins and  minerals.</p>
            <p style="font-size: 15px;">A vegan lifestyle prevents a tremendous amount of animal slaughter and suffering. It offers a potent way to shrink our environmental footprint, especially in regard to climate change. And a well-planned vegan diet can fuel the highest levels of fitness, while reducing our risk of various chronic diseases. Plus, the food is insanely delicious and it becomes more widely available every year.</p>
            </p>
            <div class="d-flex justify-content-end mb-3 mr-3">
                <a href="/education/goVegan" class="btn btn-info btn-sm pl-4 pr-4">Read more...</a>
            </div>
        </div>
    </div>

</div>
