<div class="container" id="educationSection_container" xmlns:th="http://www.thymeleaf.org" style="background-color: rgb(247, 247, 247);">
    <div class="container d-flex justify-content-center mt-3">
        <h2 class="pt-2"><b>Education section</b></h2>
    </div>

    <div class="container mt-3" style="border: 2px solid lightgrey; border-radius: 5px; ">
        <h4>Topic 1</h4>
        <div style="border: 2px solid lightgrey;" class="mb-3 pl-2 pt-2">
            <p style="font-size: 15px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique delectus earum minus.
                Est quod voluptates sunt voluptas non officiis expedita, iste facere illo autem deleniti doloremque eaque accusamus magni ratione! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim veritatis molestias ullam sequi consequatur ipsam voluptas cumque, corporis ipsa, ea nam eius expedita eligendi tenetur velit!
                Nam molestias autem praesentium.</p>
            <p style="font-size: 15px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique delectus earum minus.
                Est quod voluptates sunt voluptas non officiis expedita, iste facere illo autem deleniti doloremque eaque accusamus magni ratione! Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </p>
            <div class="d-flex justify-content-end mb-3 mr-3">
                <button type="button" class="btn btn-info btn-sm pl-4 pr-4">Read more...</button>
            </div>
        </div>
    </div>

    <div class="container mt-3" style="border: 2px solid lightgrey; border-radius: 5px; ">
        <h4>Topic 2</h4>
        <div style="border: 2px solid lightgrey;" class="mb-3 pl-2 pt-2">
            <p style="font-size: 15px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique delectus earum minus.
                Est quod voluptates sunt voluptas non officiis expedita, iste facere illo autem deleniti doloremque eaque accusamus magni ratione! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim veritatis molestias ullam sequi consequatur ipsam voluptas cumque, corporis ipsa, ea nam eius expedita eligendi tenetur velit!
                Nam molestias autem praesentium.</p>
            <p style="font-size: 15px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique delectus earum minus.
                Est quod voluptates sunt voluptas non officiis expedita, iste facere illo autem deleniti doloremque eaque accusamus magni ratione! Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </p>
            <div class="d-flex justify-content-end mb-3 mr-3 buttons">
                <button type="button" class="btn btn-info btn-sm pl-4 pr-4">Read more...</button>
            </div>
        </div>
    </div>

    <div class="container mt-3" style="border: 2px solid lightgrey; border-radius: 5px; ">
        <h4>Topic 3</h4>
        <div style="border: 2px solid lightgrey;" class="mb-3 pl-2 pt-2">
            <p style="font-size: 15px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique delectus earum minus.
                Est quod voluptates sunt voluptas non officiis expedita, iste facere illo autem deleniti doloremque eaque accusamus magni ratione! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim veritatis molestias ullam sequi consequatur ipsam voluptas cumque, corporis ipsa, ea nam eius expedita eligendi tenetur velit!
                Nam molestias autem praesentium.</p>
            <p style="font-size: 15px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique delectus earum minus.
                Est quod voluptates sunt voluptas non officiis expedita, iste facere illo autem deleniti doloremque eaque accusamus magni ratione! Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            </p>
            <div class="d-flex justify-content-end mb-3 mr-3">
                <button type="button" class="btn btn-info btn-sm pl-4 pr-4">Read more...</button>
            </div>
        </div>
    </div>

</div>
