<div class="container" id="weightLoss_container" xmlns:th="http://www.thymeleaf.org">
    <div class="container d-flex justify-content-center pt-2 pb-2" >
        <h3 style="font-weight: bold;">Gaining muscle</h3>
    </div>

    <div class="container mt-3">
        <p style="text-align: justify; border: 1px dotted lightblue; border-radius: 5px; padding-left: 5px; padding-right: 5px;">
            Staying active is vital for overall health, and it is also the best way to build skeletal muscle. Skeletal muscle is one of the three major muscle types. Tendons attach these muscles, which contract and cause movement, to bones.
            People are best able to improve their muscle mass by performing the right exercises and eating particular foods.
        </p>
    </div>

    <div class="d-flex justify-content-center">
        <img style="width: 600px;" src="img/gainingMuscle.jpg" class="img-fluid img-thumbnail rounded" alt="Responsive image">
    </div>


    <div class="row mt-3">
        <div class="col-sm-6">
            <p style="text-align: justify; border: 1px dotted lightblue; border-radius: 5px; padding-left: 5px; padding-right: 5px;">
                Muscle size increases when a person continually challenges the muscles to deal with higher levels of resistance or weight. This process is known as muscle hypertrophy.
                Muscle hypertrophy occurs when the fibers of the muscles sustain damage or injury. The body repairs damaged fibers by fusing them, which increases the mass and size of the muscles.
                Certain hormones, including testosterone, human growth hormone, and insulin growth factor, also play a role in muscle growth and repair.
                <br>These hormones work by: improving how the body processes proteins, inhibiting the breakdown of protein, activating satellite cells, which are a type of stem cell that plays a role in muscle development, stimulating anabolic hormones, which promote muscle growth and protein synthesis,
                enhancing tissue growth
            </p>
        </div>
        <div class="col-sm-6">
            <p style="text-align: justify; border: 1px dotted lightblue; border-radius: 5px; padding-left: 5px; padding-right: 5px;">
                Rest plays an integral part in building muscle. By not letting each of the muscle groups rest, a person will reduce their ability to repair. Insufficient rest also slows fitness progression and increases the risk of injury.
                Getting enough sleep is also important for the process of muscle growth. The researchers behind a 2011 studyTrusted Source hypothesize that sleep debt decreases protein synthesis, contributes to the loss of muscle mass, and inhibits muscle recovery. However, many further studies are necessary to confirm the link.
                Reducing stress may help a person build muscleTrusted Source, as the hormones that the body releases during periods of stress have a negative effect on muscle development.
            </p>
        </div>
        <div class="d-flex justify-content-center"><hr style="width: 500px; background-color: gray;"></div>
    </div>

    <div class="container d-flex justify-content-center pb-5 mt-3">
        <a href="/education" class="btn btn-md btn-primary" style="width: 100px;">Back</a>
    </div>

</div>