<div class="container pt-3" id="recipes_container" xmlns:th="http://www.thymeleaf.org" style="background-color: rgb(247, 247, 247);">
    <div class="container text-center mt-2 mb-2">
        <h2><b>Recipes</b></h2>
    </div>

    <div class="container mb-3">
        <h4>Normal</h4>
        <div class="container text-center recipeType pt-3">
            <div class="flex-rectangle phone"><img src="img/caesarSalad.jpg"></div>
            <div class="flex-rectangle toHide"><img src="img/chickenCurry.jpg"></im></div>
            <div class="flex-rectangle toHide"><img src="img/image (1).jpg"></div>
            <div class="flex-rectangle toHide"><img src="img/image.jpg"></div>
            <div class="text-center mt-2"><a href="/recipes/normal" class="btn btn-primary btn-sm">View more...</a></div>
        </div>
    </div>

    <div class="container">
        <h4>Vegan</h4>
        <div class="container text-center recipeType pt-3">
            <div class="flex-rectangle phone"><img src="img/burrito.jpg"></div>
            <div class="flex-rectangle toHide"><img src="img/cheesecake.jpg"></div>
            <div class="flex-rectangle toHide"><img src="img/spaghetti.jpg"></div>
            <div class="flex-rectangle toHide"><img src="img/tomatoSoup.jpg"></div>
            <div class="text-center mt-2"><a href="/recipes/vegan" class="btn btn-primary btn-sm">View more...</a></div>
        </div>
    </div>

    <div class="container">
        <h4>Vegetarian</h4>
        <div class="container text-center recipeType pt-3">
            <div class="flex-rectangle phone"><img src="img/image (1).jpg"></div>
            <div class="flex-rectangle toHide"><img src="img/image.jpg"></div>
            <div class="flex-rectangle toHide"><img src="img/lasagna.jpg"></div>
            <div class="flex-rectangle toHide"><img src="img/vegetarianQuiche.jpg"></div>
            <div class="text-center mt-2"><a href="/recipes/vegetarian" class="btn btn-primary btn-sm">View more...</a></div>
        </div>
    </div>
</div>