<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="topicPage.css" rel="stylesheet">
    <title>Topic Page</title>
  </head>
  <body>
    <div class="container" id="topicPage_container" xmlns:th="http://www.thymeleaf.org">
        <div class="container d-flex justify-content-center">
            <h3>Topic Name</h3>
        </div>

        <div class="container mt-3">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam delectus quisquam optio qui aut ut vero, ad reprehenderit omnis. 
                Esse, nisi fugiat dolores qui ea consequuntur blanditiis ratione natus quidem! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum velit deserunt quis esse minima commodi sed, dolor eligendi illum temporibus. 
                Excepturi, aliquam quis. At facere illum sunt, laboriosam ipsam beatae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quos, dolorem id labore beatae ducimus explicabo consequuntur dolorum delectus unde, vel obcaecati earum modi magnam sed corporis ratione eveniet vero?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta provident rerum perferendis ad error praesentium animi, quibusdam culpa consequuntur eius reprehenderit debitis eum dolorum maxime sint explicabo eveniet eligendi officiis!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam harum autem perspiciatis adipisci vitae id dicta pariatur! Similique saepe at dolores error odio tempora. Optio dolore officiis maxime fugiat deserunt.</p>
        </div>

        <div class="flex-rectangle d-flex justify-content-center"></div>
        <div class="container d-flex justify-content-center" style="font-size: 10px;">Nullam ex leo, volutpat quis odio bibendum</div>

        <div class="container mt-3">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam delectus quisquam optio qui aut ut vero, ad reprehenderit omnis. 
                Esse, nisi fugiat dolores qui ea consequuntur blanditiis ratione natus quidem! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum velit deserunt quis esse minima commodi sed, dolor eligendi illum temporibus. 
                Excepturi, aliquam quis. At facere illum sunt, laboriosam ipsam beatae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quos, dolorem id labore beatae ducimus explicabo consequuntur dolorum delectus unde, vel obcaecati earum modi magnam sed corporis ratione eveniet vero?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta provident rerum perferendis ad error praesentium animi, quibusdam culpa consequuntur eius reprehenderit debitis eum dolorum maxime sint explicabo eveniet eligendi officiis!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam harum autem perspiciatis adipisci vitae id dicta pariatur! Similique saepe at dolores error odio tempora. Optio dolore officiis maxime fugiat deserunt.</p>
        </div>
        
        <div class="container d-flex justify-content-center">
            <button type="button" class="btn btn-md btn-primary" style="width: 100px;">Back</button>
        </div>
  
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
  </body>
</html>