<div class="container" id="veganDiet_container" xmlns:th="http://www.thymeleaf.org">
    <div class="container d-flex justify-content-center pt-2 pb-2" >
        <h3 style="font-weight: bold;">Vegan Diet</h3>
    </div>

    <div class="container mt-3">
        <p style="text-align: justify; border: 1px dotted lightblue; border-radius: 5px; padding-left: 5px; padding-right: 5px;">
            Going vegan is a great opportunity to learn more about nutrition and cooking, and improve your diet. Getting your nutrients from plant foods allows more room in your diet for health-promoting options like whole grains, fruit, nuts, seeds and vegetables, which are packed full of beneficial fibre, vitamins and  minerals.
            A vegan lifestyle prevents a tremendous amount of animal slaughter and suffering. It offers a potent way to shrink our environmental footprint, especially in regard to climate change. And a well-planned vegan diet can fuel the highest levels of fitness, while reducing our risk of various chronic diseases. Plus, the food is insanely delicious and it becomes more widely available every year.

        </p>
    </div>

    <div class="d-flex justify-content-center">
        <img style="width: 600px;" src="img/vegan-diet.jpg" class="img-fluid img-thumbnail rounded" alt="Responsive image">
    </div>


    <div class="row mt-3">
        <div class="col-sm-6">
            <p style="text-align: justify; border: 1px dotted lightblue; border-radius: 5px; padding-left: 5px; padding-right: 5px;">
                Being vegan is great for your health! According to the Academy of Nutrition and Dietetics, vegans are less likely to develop heart disease, cancer, diabetes, and high blood pressure than meat-eaters are. Vegans get all the nutrients that they need to be healthy, such as plant protein, fiber, and minerals, without all the nasty stuff in meat that may slow you down and make you sick, such as cholesterol and saturated animal fat.
                Many vegans choose the diet for its health benefits. Although veganism requires supplements and careful planning, they’d argue that it’s a bit of a myth that we can’t get all our necessary nutrients eating outside of animal produce. Whole grains, vegetables and fruits are naturally low in fat and cholesterol and rich in fibre, magnesium, potassium and many vitamins.

            </p>
        </div>
        <div class="col-sm-6">
            <p style="text-align: justify; border: 1px dotted lightblue; border-radius: 5px; padding-left: 5px; padding-right: 5px;">
                Vegans benefit from increased consumption of vegetables but can miss out on essential nutrients due to the avoidance of meat and dairy.
                Vegan diets are usually high in fiber, magnesium, folic acid, phytochemicals, and vitamins C and E. On the other hand, they tend to be lower in calories, saturated fat, cholesterol, omega 3 fatty acids, calcium, zinc, and vitamins B-12 and D.
                tudies in the short and moderate-term have found that vegan diets can improve energy metabolism in healthy, obese, and type 2 diabetic individuals. Some believe this is due to favorable changes in the gut microbiome that are brought about due to the vegan diet, but there is currently not enough research to verify this. There is also some evidence that vegans consume more protective nutrients and phytochemicals.
            </p>
        </div>
        <div class="d-flex justify-content-center"><hr style="width: 500px; background-color: gray;"></div>
    </div>

    <div class="container d-flex justify-content-center pb-5 mt-3">
        <a href="/education" class="btn btn-md btn-primary" style="width: 100px;">Back</a>
    </div>

</div>