<div class="container" id="weightLoss_container" xmlns:th="http://www.thymeleaf.org">
    <div class="container d-flex justify-content-center pt-2 pb-2" >
        <h3 style="font-weight: bold;">Weight loss</h3>
    </div>

    <div class="container mt-3">
        <p style="text-align: justify; border: 1px dotted lightblue; border-radius: 5px; padding-left: 5px; padding-right: 5px;">It’s natural for anyone trying to lose weight to want to lose it very quickly.
            But people who lose weight gradually and steadily (about 1 to 2 pounds per week) are more successful at keeping weight off.
            Healthy weight loss isn’t just about a “diet” or “program”.
            It’s about an ongoing lifestyle that includes long-term changes in daily eating and exercise habits.
            Losing the extra weight can help eliminate those health problems or lower your odds for them. Weight loss can reduce your blood pressure and cholesterol.
            It can also slash risk for <span style="font-weight: bold;">diabetes, heart disease, stroke, gallbladder disease</span>, and <span style="font-weight: bold;">osteoarthritis</span>.
        </p>
    </div>

    <div class="d-flex justify-content-center">
        <img style="width: 700px;" src="img/weightloss.jpg" class="img-fluid img-thumbnail rounded" alt="Responsive image">
    </div>


    <div class="row mt-3">
        <div class="col-sm-6">
            <p style="text-align: justify; border: 1px dotted lightblue; border-radius: 5px; padding-left: 5px; padding-right: 5px;">Many people start a weight loss program because they want a more fit physique. However, what they might not consider is the substantial impact that losing weight can also have on their health.<br>
                By continuing to drop the excess weight until you are within your healthy weight range, you will significantly <span style="font-weight: bold;">improve</span> your health and your confidence. Plus, think of all the money you will potentially save on unnecessary medications, doctor visits, and surgeries; now use it on something special for you.
                Meaningful change takes time. Weight loss means that your body uses less amount of energy to haul itself around. Which means you can do a greater number of tasks with the same amount of energy resource. This is why you also feel younger when you lose those extra kilos.
            </p>
        </div>
        <div class="col-sm-6">
            <p style="text-align: justify; border: 1px dotted lightblue; border-radius: 5px; padding-left: 5px; padding-right: 5px;">
                For many, their weight is linked to their self-esteem. The moment they lose those extra kilos they start to feel better about themselves and interact with more people. People are generally happier after having lost some weight.<br>
                Always keep your non-scale victories insight and consider all the ways your small improvements have done your body good. And if you are struggling to lose weight on your own, consider a medical weight loss program to help provide you with the guidance and tools you need to successfully lose weight and keep it off!
            </p>
        </div>
        <div class="d-flex justify-content-center"><hr style="width: 500px; background-color: gray;"></div>
    </div>

    <div class="container d-flex justify-content-center pb-5 mt-3">
        <a href="/education" class="btn btn-md btn-primary" style="width: 100px;">Back</a>
    </div>

</div>